<div class='order-container'>

  <form [formGroup]="orderForm">
    <input
      required
      type="text"
      id="firstName"
      class="form-control"
      placeholder="Ім'я"
      formControlName="firstName">

    <input
      required
      type="text"
      id="surname"
      class="form-control"
      placeholder="Ваше прізвище"
      formControlName="surname">

    <input
      required
      type="email"
      id="email"
      class="form-control"
      placeholder="Електронна пошта"
      formControlName="email">

    <input
      required
      type="text"
      id="phone"
      class="form-control"
      placeholder="Номер телефону"
      formControlName="phone">

    <div class="all-items"
         *ngFor="let product of allItems">
      <img class="image"
           src="{{product.mainPhoto}}"
           alt="cake">
      <p class="product-name">{{product.name}}</p>
      <p class="product-details">{{product.weight}} / {{product.price}} грн</p>
    </div>

    <button type="submit" (click)="submitOrder()"  [disabled]="orderForm.invalid">Замовити</button>
  </form>

</div>
