<section class="row about-kate-row">
  <img class="col about-kate-column portrait" tabindex="0" src="assets/images/main/kate-portrait.jpg" alt="kate">
  <img class="stain lightpink-stain" src="assets/images/stains/lightpink-stain-1.svg" alt="stain">
  <img class="stain darkpink-stain" src="assets/images/stains/darkpink-stain-1.svg" alt="stain">
  <img class="stain gray-stain" src="assets/images/stains/gray-stain-2.svg" alt="stain">

  <div class="col about-kate-column text-column">
    <p class="heading">Hello, lovely! I am Kate</p>
    <p class="detailed-text">и я очень люблю готовить вкусненькие тортики и пироженки :) Занимаюсь этим делом я уже 5 лет и все мои клиенты всегда остаются довольными! Просто попробуй и ты тоже не останешься равнодушным к этим невероятно вкусным кусочкам черничного чизкейка... Все что тебе нужно сделать, это выбрать то, что хочешь попробовать, добавть в корзину и оформить заказ, и все! Все очень просто! С нетерпение буду ждать твой заказ :)
    </p>
  </div>
</section>
